<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>  
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/homepage.css'%}">
</head>
<body>
    <header>
        <img src="../static/Capture_d_écran_2024-04-18_à_16.42.52-removebg-preview (1).png" alt="">

        <div class="button-card-bubble-tea">
            <a href="/login">
                <button class="btn">Login</button>
             </a>
             <a href="/register">
                <button class="btn register">Inscription</button>
             </a>
            <!-- <button class="btn"><a style="text-decoration: none"href="/login" >login</a></button> -->
        </div>  

         
    </header>
    <div class="test">
        <main>
        {% for bubbletea in result %}    
        <div class="main-bubble-tea">
            <div class="png-card-bubble-tea">
                <img src="../static/bubble_tea_1.jpg" alt="">
            </div>
            <div class="info-card-bubble-tea">
                <p class="title-bubble-tea">{{bubbletea.1}}</p>
                <p><strong>{{bubbletea.3}} €</strong></p>
            </div>
            <div class="button-card-bubble-tea">
                <form action="addBubbletea" method= "post">
                    <button class="btn" >Ajouter</button>
                </form>
            </div>  
        </div>
        {% endfor %}
        </main>
    </div>
</body>
</html>